{% extends 'administrator_side.html' %}
{% block title %}单价管理{% endblock %}
{% block content %}
    {% load static %}

    <section id="content">
        <section class="vbox">
            <section class="scrollable padder">
                <ul class="breadcrumb no-border no-radius b-b b-light pull-in">
                    <li><a href="/"><i class="fa fa-home"></i> 主页</a></li>
                    <li class="active">服务单价</li>
                </ul>
                <section class="panel panel-default">
                    <a type="submit" class="btn btn-large btn-primary"
                       href="javascript:add_price()">
                        <font color="#00008b" size="3"><B>增加服务</B></font>
                    </a>
                    <div style="border:0px solid; width:auto; height: auto; overflow:auto;">{# 表格框架 #}
                        <table data-toggle="table"
                                {#               data-url="/gh/get/response.json/wenzhixin/bootstrap-table/tree/master/docs/data/data1/"#}
                               data-search="true"
                               data-sort-name="stargazers_count"
                               data-sort-order="desc"
                               data-show-refresh="true"
                               data-show-toggle="true"
                               data-show-columns="true">
                            <thead>
                            <tr>
                                <th data-field="username" data-sortable="true">
                                    <div style="font-weight: 900;font-size: medium">服务类别</div>
                                </th>
                                <th data-field="ID" data-sortable="true">
                                    <div style="font-weight: 900;font-size: medium">服务名称</div>
                                </th>
                                <th data-field="name" data-sortable="true">
                                    <div style="font-weight: 900;font-size: medium">服务价格</div>
                                </th>
                                <th data-field="handle">
                                    <div style="font-weight: 900;font-size: medium">操作</div>
                                </th>
                            </tr>
                            </thead>
                            {% for foo in parts %}
                                <tr>
                                    <td>{{ foo.classify_id }}</td>
                                    <td>{{ foo.part_name }}</td>
                                    <td>{{ foo.part_price }}</td>
                                    <td>
                                        <a href="javascript:change_price('{{ foo.part }}',{{ foo.part_price }})">修改单价</a>
                                        <script>
                                            try {
                                                var index = parent.layer.getFrameIndex(window.name);
                                                if (index) {
                                                    parent.location.reload();
                                                    parent.layer.close(index);
                                                }
                                            } catch (err) {

                                            }

                                            function change_price(part_ID, part_Price) {
                                                var index = layer.open({
                                                    type: 2,
                                                    area: ['700px', '530px'],
                                                    fix: false, //不固定
                                                    maxmin: true,
                                                    content: '/administrator_part_price_alter/?part_ID=' + part_ID + '&part_price=' + part_Price
                                                });
                                            }

                                            function add_price() {
                                                var index = layer.open({
                                                    type: 2,
                                                    area: ['700px', '530px'],
                                                    fix: false, //不固定
                                                    maxmin: true,
                                                    content: '/administrator_price_new/'
                                                });
                                            }
                                        </script>
                                    </td>
                                </tr>
                            {% endfor %}
                        </table>
                    </div>
                </section>
            </section>
        </section>
    </section>
    <a href="#" class="hide nav-off-screen-block" data-toggle="class:nav-off-screen" data-target="#nav"></a>
{% endblock %}