{% extends 'administrator_side.html' %}
{% block title %}订单详情{% endblock %}
{% block content %}
    <section id="content">
        <section class="vbox">
            <section class="scrollable padder">
                <ul class="breadcrumb no-border no-radius b-b b-light pull-in">
                    <li><a href="/"><i class="fa fa-home"></i> 主页</a></li>
                    <li class="active">用户订单</li>
                    <li class="active">订单详情</li>
                </ul>
                <section class="panel panel-default">
                    <div style="border:0px solid; width:auto; height: auto; overflow:auto;">
                        <div style="text-align:center">
                            {% for foo in form %}
                                {{ foo.label }} : {{ foo }}<br>
                            {% endfor %}

                        </div>
                    </div>
                </section>
            </section>
        </section>
    </section>
    <a href="#" class="hide nav-off-screen-block" data-toggle="class:nav-off-screen" data-target="#nav"></a>

{% endblock %}