{% extends 'administrator_side.html' %}
{% block title %}收件箱{% endblock %}
{% block content %}
    {% load static %}

    <section id="content">
        <section class="vbox">
            <section class="scrollable padder">
                <ul class="breadcrumb no-border no-radius b-b b-light pull-in">
                    <li><a href="/"><i class="fa fa-home"></i> 主页</a></li>
                    <li class="active">收件箱</li>
                </ul>
                <section class="panel panel-default">
                    <div style="border:0px solid; width:auto; height: auto; overflow:auto;">
                        <table data-toggle="table"
                                {#               data-url="/gh/get/response.json/wenzhixin/bootstrap-table/tree/master/docs/data/data1/"#}
                               data-search="true"
                               data-sort-name="stargazers_count"
                               data-sort-order="desc"
                               data-show-refresh="true"
                               data-show-toggle="true"
                               data-show-columns="true">
                            <thead>
                            <tr>
                                <th data-field="recriver" data-sortable="true">
                                    <div style="font-weight: 900;font-size: medium">发件人</div>
                                </th>
                                <th data-field="title" data-sortable="true">
                                    <div style="font-weight: 900;font-size: medium;width: 500px">主题</div>
                                </th>
                                <th data-field="state" data-sortable="true">
                                    <div style="font-weight: 900;font-size: medium">状态</div>
                                </th>
                                <th data-field="send_time" data-sortable="true">
                                    <div style="font-weight: 900;font-size: medium">发送时间</div>
                                </th>
                                <th data-field="read_time" data-sortable="true">
                                    <div style="font-weight: 900;font-size: medium">阅读时间</div>
                                </th>
                            </tr>
                            </thead>
                            {% if messages %}
                                {% for foo in messages %}
                                    <tr>
                                        {% if foo.is_read %}
                                            <td>{{ foo.send_worker_id }}</td>
                                            <td>
                                                <a href="/administrator_message_read/?message={{ foo.message }}">{{ foo.title }}</a>
                                            </td>
                                            <td>已读</td>
                                            <td>{{ foo.send_time }}</td>
                                            <td>{{ foo.read_time }}</td>
                                        {% else %}
                                            <td><b style="font-weight: 900">{{ foo.send_worker_id }}</b></td>
                                            <td><b style="font-weight: 900"><a
                                                    href="/administrator_message_read/?message={{ foo.message }}">{{ foo.title }}</a></b>
                                            </td>
                                            <td><b style="font-weight: 900">未读</b></td>
                                            <td><b style="font-weight: 900">{{ foo.send_time }}</b></td>
                                            <td><b style="font-weight: 900"></b></td>
                                        {% endif %}
                                    </tr>
                                {% endfor %}
                            {% endif %}
                        </table>
                    </div>
                </section>
            </section>
        </section>
    </section>
    <a href="#" class="hide nav-off-screen-block" data-toggle="class:nav-off-screen" data-target="#nav"></a>
{% endblock %}