{% extends 'administrator_side.html' %}
{% block title %}订单管理{% endblock %}
{% block content %}
    <section id="content">
        <section class="vbox">
            <section class="scrollable padder">
                <ul class="breadcrumb no-border no-radius b-b b-light pull-in">
                    <li><a href="/"><i class="fa fa-home"></i> 主页</a></li>
                    <li class="active">用户订单</li>
                </ul>
                <section class="panel panel-default">
                    <div style="border:0px solid; width:auto; height: auto; overflow:auto;">
                        <table data-toggle="table"
                                {#               data-url="/gh/get/response.json/wenzhixin/bootstrap-table/tree/master/docs/data/data1/"#}
                               data-search="true"
                               data-sort-name="stargazers_count"
                               data-sort-order="desc"
                               data-show-refresh="true"
                               data-show-toggle="true"
                               data-show-columns="true">
                            <thead>
                            <tr>
                                <th data-field="username" data-sortable="true">
                                    <div style="font-weight: 900;font-size: medium">账号</div>
                                </th>
                                <th data-field="ID" data-sortable="true">
                                    <div style="font-weight: 900;font-size: medium">订单编号</div>
                                </th>
                                <th data-field="name" data-sortable="true">
                                    <div style="font-weight: 900;font-size: medium">订单类型</div>
                                </th>
                                <th data-field="class" data-sortable="true">
                                    <div style="font-weight: 900;font-size: medium">订单价格</div>
                                </th>
                                <th data-field="create_time" data-sortable="true">
                                    <div style="font-weight: 900;font-size: medium">订单状态</div>
                                </th>
                                <th data-field="status" data-sortable="true">
                                    <div style="font-weight: 900;font-size: medium">支付状态</div>
                                </th>
                                <th data-field="handle">
                                    <div style="font-weight: 900;font-size: medium">操作</div>
                                </th>
                            </tr>
                            </thead>
                            {% for foo in orders %}
                                <tr>
                                    <td>{{ foo.user.username }}</td>
                                    <td>{{ foo.order }}</td>
                                    <td>{{ foo.classify_id }}</td>
                                    <td>{{ foo.order_price }}</td>
                                    <td>{% if foo.is_complete %}
                                        已完成
                                    {% else %}
                                        未完成
                                    {% endif %}</td>
                                    <td>{% if foo.is_pay %}
                                        已支付
                                    {% else %}
                                        未支付
                                    {% endif %}</td>

                                    <td>
                                        {% if foo.is_pay %}
                                            <a href="/administrator_price_alter/?state=0&order_ID={{ foo.order }}">取消支付</a>
                                        {% else %}
                                            <a href="/administrator_price_alter/?state=1&order_ID={{ foo.order }}">完成支付</a>
                                            <a href="javascript:change_price('{{ foo.order }}',{{ foo.order_price }})">修改价格</a>
                                            <a href="/administrator_order_info/?order_id={{ foo.order }}">查看</a>
                                        {% endif %}
                                        <script>
                                            try {
                                                var index = parent.layer.getFrameIndex(window.name);
                                                if (index) {
                                                    parent.location.reload();
                                                    parent.layer.close(index);
                                                }
                                            } catch (err) {
                                            }

                                            function change_price(order_ID, order_Price) {
                                                var index = layer.open({
                                                    type: 2,
                                                    area: ['700px', '530px'],
                                                    fix: false, //不固定
                                                    maxmin: true,
                                                    content: '/administrator_price_alter/?order_ID=' + order_ID + '&order_price=' + order_Price
                                                });
                                            }
                                        </script>
                                    </td>
                                </tr>
                            {% endfor %}
                        </table>
                    </div>


                </section>
            </section>
        </section>
    </section>
    <a href="#" class="hide nav-off-screen-block" data-toggle="class:nav-off-screen" data-target="#nav"></a>

    <script>
        function administrator_project_alter(project_id) {
            location.href = "/administrator_project_alter/?project_id=" + project_id;
        }

        function deleteProject(orderId) {
            if (confirm("您确定要删除么，记录删除后将无法找回")) {
                location.href = "/delete_project?method=deleteProject&orderId=" + orderId + "";
            }
        }
        function administrator_project_info(project_id) {
            location.href = "/administrator_project_info/?project_id=" + project_id;
        }
        function createProject() {
            location.href = "/display_project/?order_id=" + orderId + "";
        }
    </script>
{% endblock %}