{% extends 'customer_side.html' %}
{% load static %}
{% block title %}查看项目{% endblock %}
{% block content %}
    <section id="content">
        <section class="vbox">
            <section class="scrollable padder">
                <ul class="breadcrumb no-border no-radius b-b b-light pull-in">
                    <li><a href="/"><i class="fa fa-home"></i> 主页</a></li>
                    <li class="active">项目管理</li>
                    <li class="active">项目清单</li>
                </ul>
                <div class="m-b-md">
                    {#                            <h3 class="m-b-none">个人中心</h3>#}
                    <small></small>
                </div>
                <section class="panel panel-default">
                    <div style="border:0px solid; width:auto; height: auto; overflow:auto;">
                        <table data-toggle="table"
                                {#               data-url="/gh/get/response.json/wenzhixin/bootstrap-table/tree/master/docs/data/data1/"#}
                               data-search="true"
                               data-sort-name="stargazers_count"
                               data-sort-order="desc"
                               data-show-refresh="true"
                               data-show-toggle="true"
                               data-show-columns="true">
                            <thead>
                            <tr>
                                <th data-field="ID" data-sortable="true">
                                    <div style="font-weight: 900;font-size: medium">项目编号</div>
                                </th>
                                <th data-field="name" data-sortable="true">
                                    <div style="font-weight: 900;font-size: medium">项目名</div>
                                </th>
                                <th data-field="class" data-sortable="true">
                                    <div style="font-weight: 900;font-size: medium">项目类别</div>
                                </th>
                                <th data-field="create_time" data-sortable="true">
                                    <div style="font-weight: 900;font-size: medium">患者姓名</div>
                                </th>
                                <th data-field="status" data-sortable="true">
                                    <div style="font-weight: 900;font-size: medium">患者年龄</div>
                                </th>
                                <th data-field="handle">
                                    <div style="font-weight: 900;font-size: medium">操作</div>
                                </th>
                            </tr>
                            </thead>
                            {% for foo in project %}
                                <tr>
                                    <td>{{ foo.project }}</td>
                                    <td>{{ foo.project_name }}</td>
                                    <td>{{ foo.classify.classify_name }}</td>
                                    <td>{{ foo.patient_name }}</td>

                                    <td>
                                        {{ foo.patient_age }}
                                    </td>

                                    <td>
                                        <a href="/customer_stl_show/?project_id={{ foo.project }}" target="_blank">查看三维模型</a>
                                    </td>
                                </tr>
                            {% endfor %}

                        </table>
                    </div>

                    <footer class="panel-footer">
                        <div class="row">
                            <div class="col-sm-4 hidden-xs">
                            </div>
                            <div class="col-sm-4 text-right text-center-xs">

                            </div>
                        </div>
                    </footer>
                </section>
                </div>
            </section>
        </section>
        <a href="#" class="hide nav-off-screen-block" data-toggle="class:nav-off-screen" data-target="#nav"></a>
    </section>
    <a href="#" class="hide nav-off-screen-block" data-toggle="class:nav-off-screen" data-target="#nav"></a>

{% endblock %}