{% load staticfiles %}
{% load i18n %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <title>修改密码</title>
</head>
<body>
<form method="post">
    {% csrf_token %}
    <fieldset>
        <p>{{ form.password.label }}:{{ form.password }}</p>
        {#        {% for error in form.name.errors %}#}
        {#            <label class="control-label"#}
        {#                   style="color: #cd0a0a">{{ error }}</label>#}
        {#        {% endfor %}#}
        <p>{{ form.confirm_password.label }}:{{ form.confirm_password }}</p>
        {% if request.user.is_authenticated %}
            <p>{{ form.identifying_code.label }}:{{ form.identifying_code }}
                <img onclick="ChangeCode();" id="imgCode" src="/checkcode/" title="点击更新"/>
            </p>
        {% endif %}
    </fieldset>
    <button type="submit">提交</button>
</form>

<script type="text/javascript">

    function ChangeCode() {
        var code = document.getElementById('imgCode');
        code.src += '?';
    }
</script>
</body>
</html>