{% extends 'customer_side.html' %}
{% block title %}个人中心{% endblock %}
{% block content %}
    <section id="content">
        <section class="vbox">
            <section class="scrollable padder">
                <ul class="breadcrumb no-border no-radius b-b b-light pull-in">
                    <li><a href="/"><i class="fa fa-home"></i> 主页</a></li>
                    <li class="active">个人资料</li>
                </ul>
                <div class="col-sm-3 pull-left">
                </div>
                <div class="col-sm-5">
                    <form data-validate="parsley" class="ProfileForm" action="/customer_user_info/" method="post"
                          role="form">
                        <section class="panel panel-default">
                            <header class="panel-heading"><span class="h4" style="font-family: 微软雅黑">个人信息</span>
                            </header>
                            <div class="panel-body">
                                {% csrf_token %}
                                <fieldset>

                                    <div class="panel-body">
                                        <div class="form-group pull-in clearfix">
                                            <div class="col-sm-6">
                                                <label>姓名</label>
                                                {{ form.user_name }}
                                                {% for error in form.name.errors %}
                                                    <label class="control-label"
                                                           style="color: #cd0a0a">{{ error }}</label>
                                                {% endfor %}
                                            </div>
                                            <div class="col-sm-6">
                                                <label>联系方式</label>
                                                {{ form.user_telephone }}
                                                {% for error in form.telephone.errors %}
                                                    <label class="control-label"
                                                           style="color: #cd0a0a">{{ error }}</label>
                                                {% endfor %}
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label>电子邮箱</label>
                                            {{ form.email }}
                                            {% for error in form.hospital.errors %}
                                                <label class="control-label" style="color: #cd0a0a">{{ error }}</label>
                                            {% endfor %}
                                        </div>

                                        <div class="form-group">
                                            <label>身份</label>
                                            {{ form.user_identify }}
                                            {% for error in form.user_identify.errors %}
                                                <label class="control-label" style="color: #cd0a0a">{{ error }}</label>
                                            {% endfor %}
                                        </div>
                                        <div class="form-group">
                                            <label>医院</label>
                                            {{ form.hospital }}
                                            {% for error in form.hospital.errors %}
                                                <label class="control-label" style="color: #cd0a0a">{{ error }}</label>
                                            {% endfor %}
                                        </div>
                                        <div class="form-group">
                                            <label>部门</label>
                                            {{ form.department }}
                                            {% for error in form.department.errors %}
                                                <label class="control-label" style="color: #cd0a0a">{{ error }}</label>
                                            {% endfor %}
                                        </div>
                                        <div class="form-group">
                                            <label>职位</label>
                                            {{ form.position }}
                                            {% for error in form.position.errors %}
                                                <label class="control-label" style="color: #cd0a0a">{{ error }}</label>
                                            {% endfor %}
                                        </div>
                                        <div class="form-group">
                                            <label>地址</label>
                                            {{ form.address }}
                                            {% for error in form.address.errors %}
                                                <label class="control-label" style="color: #cd0a0a">{{ error }}</label>
                                            {% endfor %}
                                        </div>
                                        <div class="form-group" style="display: none">
                                            <label>图片地址</label>
                                            {{ form.pic_dir }}
                                            {% for error in form.pic_dir.errors %}
                                                <label class="control-label" style="color: #cd0a0a">{{ error }}</label>
                                            {% endfor %}
                                        </div>
                                        <div class="form-group">
                                            <label>备注</label>
                                            {{ form.abstract }}
                                            {% for error in form.abstract.errors %}
                                                <label class="control-label" style="color: #cd0a0a">{{ error }}</label>
                                            {% endfor %}
                                        </div>
                                    </div>
                                </fieldset>
                                <footer class="panel-footer text-right bg-light lter">
                                    <button type="submit" class="btn btn-success btn-s-xs">提交修改</button>
                                </footer>
                            </div>
                        </section>
                    </form>
                </div>
            </section>
        </section>
    </section>
{% endblock %}