{% extends 'administrator_side.html' %}
{% load static %}
{% block title %}机构统计{% endblock %}
{% block content %}
    <section id="content">
        <section class="vbox">
            <section class="scrollable padder">
                <ul class="breadcrumb no-border no-radius b-b b-light pull-in">
                    <li><a href="/"><i class="fa fa-home"></i> 主页</a></li>
                    <li class="active">机构统计</li>
                </ul>
                <script src="{% static 'js/echarts.min.js' %}"></script>
                <section class="panel panel-default">
                    <div style="border:0px solid; width:auto; height: auto; overflow:auto;">
                        <table data-toggle="table"
                                {#               data-url="/gh/get/response.json/wenzhixin/bootstrap-table/tree/master/docs/data/data1/"#}
                               data-search="true"
                               data-sort-name="stargazers_count"
                               data-sort-order="desc"
                               data-show-refresh="true"
                               data-show-toggle="true"
                               data-show-columns="true">
                            <thead>
                            <tr>
                                <th data-field="identity_name" data-sortable="true">
                                    <div style="font-weight: 900;font-size: medium">机构名称</div>
                                </th>
                                <th data-field="project_type" data-sortable="true">
                                    <div style="font-weight: 900;font-size: medium">项目类型</div>
                                </th>
                                <th data-field="project_price" data-sortable="true">
                                    <div style="font-weight: 900;font-size: medium">项目金额</div>
                                </th>
                            </tr>
                            </thead>
                            {% for foo in data %}
                                <tr>
                                    <td>{{ foo.name }}</td>
                                    <td>{{ foo.type }}</td>
                                    <td>{{ foo.price }}</td>
                                </tr>
                            {% endfor %}
                        </table>
                    </div>
                </section>
            </section>
        </section>
    </section>
    <a href="#" class="hide nav-off-screen-block" data-toggle="class:nav-off-screen" data-target="#nav"></a>
{% endblock %}