<!DOCTYPE html>
<html lang="en" class="app">
{% load static %}
<head>
    <meta charset="utf-8"/>
    <title>强本宇康 | 医学影像云服务平台</title>
    <meta name="description"
          content="app, web app, responsive, admin dashboard, admin, flat, flat ui, ui kit, off screen nav"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1"/>
    <link rel="stylesheet" href="{% static 'css/app.v2.css' %}" type="text/css"/>
    <link href="{% static 'css/labelauty.css' %}" rel="stylesheet"/>
    <link rel="stylesheet" href="{% static 'css/combo.select.css' %}" type="text/css"/>

    <link rel="stylesheet" href="{% static 'js/calendar/bootstrap_calendar.css' %}" type="text/css" cache="false"/>

    <script src="{% static 'js/jquery.js' %}"></script>
    <script src="{% static 'js/layer.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/three.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/OrbitControls.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/TrackballControls.js' %}"></script>

    <link rel="stylesheet" type="text/css" href={% static 'css/spectrum.css' %}>
    <script type="text/javascript" src={% static 'js/spectrum.js' %}></script>
    <script type="text/javascript" src={% static 'js/docs/docs.js' %}></script>

    <script type="text/javascript" src="{% static 'js/Detector.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/stats.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/STLLoader.js' %}"></script>
    <script src="{% static 'js/jquery.min.js' %}"></script>
    <!--[if lt IE 9]>
    <script src="{% static 'js/ie/html5shiv.js'%}" cache="false"></script>
    <script src="{% static 'js/ie/respond.min.js'%}" cache="false"></script>
    <script src="{% static 'js/ie/excanvas.js'%}" cache="false"></script>
    <![endif]-->
</head>
<body style="font-family: 微软雅黑">
<section class="vbox">
    <header class="bg-dark dk header navbar navbar-fixed-top-xs">
        <div class="navbar-header aside-md">

            <a class="btn btn-link visible-xs" data-toggle="class:nav-off-screen"
               data-target="#nav"> <i class="fa fa-bars"></i> </a> <a href="/"
                                                                      class="navbar-brand"><img
                src="../../../static/images/qblogo.png" class="m-r-sm">强本宇康</a>
            {% if request.user.is_authenticated %}
                <a class="btn btn-link visible-xs"
                   data-toggle="dropdown"
                   data-target=".nav-user"> <i
                        class="fa fa-cog"></i> </a>
            {% endif %}

        </div>
        <ul class="nav navbar-nav hidden-xs">
            <li>
                <div class="m-t m-l"><a href="javascript:history.go(-1)" class="dropdown-toggle btn btn-xs btn-primary"
                                        title="Upgrade"><i class="fa fa-long-arrow-up"></i></a></div>
            </li>
        </ul>
        {% if request.user.is_authenticated %}
            <ul class="nav navbar-nav navbar-right hidden-xs nav-user">
                <li class="hidden-xs"><a href="#" class="dropdown-toggle dk" data-toggle="dropdown"> <i
                        class="fa fa-bell"></i>
                    {% if request.session.not_read %}
                        <span class="badge badge-sm up bg-danger m-l-n-sm">
                    {{ request.session.not_read }}
                    </span>
                    {% endif %}
                </a>
                    <section class="dropdown-menu aside-xl">
                        <section class="panel bg-white">
                            <header class="panel-heading b-light bg-light"><strong>您有 <span
                                    class="">  {{ request.session.not_read }}  </span>
                                条未读信息</strong></header>
                            <div class="list-group-alt animated fadeInRight">
                                <a href="#" class="media list-group-item">
                                                    <span class="media-body block m-b-none"> 意见反馈------1<br>
                                      <small class="text-muted">1 hour ago</small> </span>
                                </a>
                            </div>
                            <footer class="panel-footer text-sm">
                                <a href="/customer_message_receive/">查看全部消息</a>
                            </footer>
                        </section>
                    </section>
                </li>
                <li class="dropdown hidden-xs"><a href="#" class="dropdown-toggle dker" data-toggle="dropdown"><i
                        class="fa fa-fw fa-search"></i></a>
                    <section class="dropdown-menu aside-xl animated fadeInUp">
                        <section class="panel bg-white">
                            <form role="search">
                                <div class="form-group wrapper m-b-none">
                                    <div class="input-group">
                                        <input type="text" class="form-control" placeholder="Search">
                                        <span class="input-group-btn">
                  <button type="submit" class="btn btn-info btn-icon"><i class="fa fa-search"></i></button>
                  </span></div>
                                </div>
                            </form>
                        </section>
                    </section>
                </li>
                <li class="dropdown"><a href="#" class="dropdown-toggle" data-toggle="dropdown"> <span
                        class="thumb-sm avatar pull-left"> <img
                        src="../../../static/images/avatar.jpg"> </span> {{ request.user }}<b class="caret"></b> </a>
                    <ul class="dropdown-menu animated fadeInRight">
                        <span class="arrow top"></span>
                        <li><a href="/customer_user_info/">个人中心</a></li>
                        <li><a href="/customer_project_list/">项目管理</a></li>

                        <li><a href="/customer_message_list/">
                            {% if request.session.not_read %}
                                <span class="badge bg-danger pull-right">{{ request.session.not_read }}</span>
                            {% endif %}
                            我的消息 </a>
                        </li>
                        {#                    <li><a href="docs.html">帮助</a></li>#}

                        <li class="divider"></li>
                        <li><a href="/logout/">退出</a></li>
                    </ul>
                </li>
            </ul>
        {% else %}
            <div style="text-align: right ;margin-right: 10px;margin-top: 10px">
                <a href="/login/" class="btn btn-sm btn-success m-l" style="font-family: 微软雅黑">
                    <strong>登录</strong></a>
                <a href="/register/" class="btn btn-sm btn-success m-l" style="font-family: 微软雅黑">
                    <strong>注册</strong></a>
            </div>
        {% endif %}
    </header>
    <section>
        <section class="hbox stretch"> <!-- .aside -->
            <aside class="bg-dark lter aside-md hidden-print" id="nav">
                <section class="vbox">
                    <header class="header bg-primary lter text-center clearfix">
                        <div class="btn-group">
                            <button type="button" class="btn btn-sm btn-dark btn-icon" title="New project"><i
                                    class="fa fa-plus"></i></button>
                            <div class="btn-group hidden-nav-xs">
                                <button type="button" class="btn btn-sm btn-primary dropdown-toggle"
                                        data-toggle="dropdown"> 选择项目 <span class="caret"></span></button>
                                <ul class="dropdown-menu text-left">
                                {% if show_list %}

                                    {% for foo in show_list %}
                                        <li><a href="/project_show/?project_id={{ foo.0 }}">{{ foo.1 }}</a></li>
                                    {% endfor %}
                                {% else %}
                                    {% for project in request.session.sess_projects %}
                                    <li><a href="/customer_stl_show/?project_id={{ project.project }}">{{ project.project_name }}</a></li>
                                    {% endfor %}
                                {% endif %}
                                </ul>
                            </div>
                        </div>
                    </header>
                    <section class="w-f scrollable">
                        <div class="slim-scroll" data-height="auto" data-disable-fade-out="true" data-distance="0"
                             data-size="5px" data-color="#333333"> <!-- nav -->
                            <nav class="nav-primary hidden-xs">
                                <ul class="nav text-left">
                                    {% for foo in project.part_name %}
                                        {#                                        <li><a href="#"#}
                                        {#                                               onclick="javascript:choose_part('{{ foo.1 }}','{{ foo.0.1 }}')">#}
                                        {#                                            <i#}
                                        {#                                                    class="fa fa-dollar icon">#}
                                        {#                                                <b class="bg-success"></b>#}
                                        {#                                            </i>#}
                                        {#                                            <span class="pull-right"> <i#}
                                        {#                                                    class="fa fa-angle-down text"></i> <i#}
                                        {#                                                    class="fa fa-angle-up text-active"></i> </span>#}
                                        {#                                            <span>{{ foo.0.0 }}</span> </a> #}
                                        {#                                            <ul class="nav lt">#}
                                        {#                                                <input id="changer{{ foo.0.1 }}" type="color"#}
                                        {#                                                       onchange="javascript:change_color({{ foo.0.1 }},this.value)">#}
                                        {#                                                <br>#}
                                        {#                                            </ul>#}
                                        {#                                        </li>#}
                                        <br>

                                        <input autocomplete="off" type="checkbox" id="chk_{{ foo.0.1 }}" class="chklist"/>
                                        <!--  -->
                                        <label class="chkbox" id="chkbox_{{ foo.0.1 }}"
                                               style="vertical-align:middle;display:inline-block;"
                                               onclick="javascript:choose_part('{{ foo.1 }}','{{ foo.0.1 }}')">
                                            <span class="check-image"></span>
                                            {{ foo.0.0 }}
                                        </label>

                                        <div style="float: right;padding: 1px">
                                            <div style="float: left;padding-right: 3px">

                                                <input name="{{ foo.0.1 }}" class="full" id="changer{{ foo.0.1 }}"
                                                       onchange="javascript:change_color('{{ foo.1 }}',{{ foo.0.1 }},this.value)">

                                            </div>
                                            <div style="float: right;padding-top: 3px">
                                                <input id="r_{{ foo.0.1 }}" type="range" min="0" max="100" step="1"
                                                       style="width: 80px"
                                                       value="100"
                                                       onchange="javascript:change_transparency('{{ foo.1 }}','{{ foo.0.1 }}',this.value)">
                                            </div>
                                        </div>

                                        <br>
                                        <br>
                                    {% endfor %}
                                    <br>
                                    <div class="text-center">
                                        <button style="border-radius:5px" onclick="show_all_part({{ project.num }})">
                                            显示全部
                                        </button>
{#                                        <input type="checkbox" id="rotate" class="chklist"/>#}
{#                                        <label class="chkbox" id="rotate_"#}
{#                                               style="vertical-align:middle;display:inline-block;"#}
{#                                               onclick="javascript:rotate({{ project.num }})">#}
{#                                            <span class="check-image"></span>#}
{#                                            旋转#}
{#                                        </label>#}
                                    </div>
                                    {#                                    <li>#}
                                    {#                                        <a href="#uikit"#}
                                    {#                                           onclick="javascript:show_all()"> <i#}
                                    {#                                                class="fa fa-dollar icon"> <b class="bg-success"></b>#}
                                    {#                                        </i>#}
                                    {#                                        <span class="pull-right"> <i class="fa fa-angle-down text"></i> <i#}
                                    {#                                                class="fa fa-angle-up text-active"></i> </span>#}
                                    {#                                            <span>显示所有</span> </a>#}
                                    {#                                        {% for foo in project.part_name %}#}
                                    {#                                            <ul class="nav lt">#}
                                    {#                                                <div style="text-align: left">#}
                                    {#                                                    <b style="font-size: large">{{ foo.0.0 }}</b>#}
                                    {#                                                    <input id="changer_{{ foo.0.1 }}" type="color"#}
                                    {#                                                           onchange="javascript:change_color('{{ foo.0.1 }}',this.value)">#}
                                    {#                                                    <input id="r_{{ foo.0.1 }}" type="range" min="0" max="100" step="1"#}
                                    {#                                                           value="100"#}
                                    {#                                                           onchange="javascript:change_transparency('{{ foo.0.1 }}',this.value)"><br>#}
                                    {#                                                </div>#}
                                    {#                                            </ul>#}
                                    {#                                        {% endfor %}#}
                                    {#                                    </li>#}
                                </ul>
                            </nav>
                        </div>
                    </section>
                    <script>
                        $(document).ready(function () {
                            //参数{input类名，选择类型(单选or多选)}
                            $(".chklist").labelauty("chklist", "check");
                        });

                        $(document).ready(function () {
                            var part_num = {{ project.num }};
                            for (var i = 1; i <= parseInt(part_num); i++) {
                                color_board[i] = color[i % color.length];
                                color_id = 'changer' + i;
                                document.getElementById(color_id).value = color[i % color.length];

                            }
                        });
                        function choose_part(part_name, id) {

                            color_id = 'changer' + id;
                            chk_id = 'chk_' + id
                            r_id = 'r_' + id
                            opa = document.getElementById(r_id).value * 1.0 / 100
                            {#                            document.getElementById(color_id).value = color[id % color.length];#}
                            if (document.getElementById(chk_id).checked == false)       //因为改变状态是从点击之后
                            {

                                show_single_stl(part_name, id, opa);
                            }

                            else {
                                var selectedObject = scene.getObjectByName('actor' + id);
                                scene.remove(selectedObject);
                            }
                            {#                            for (var i = 1; i <= color_board.length; i++) {#}
                            {#                                var selectedObject = scene.getObjectByName('actor' + i);#}
                            {#                                if (selectedObject) {#}
                            {#                                    scene.remove(selectedObject);#}
                            {#                                }#}
                            {#                            }#}


                            animate();
                        }
                        function show_all_part(num) {
                            for (var i = 1; i <= num; i++) {
                                if (document.getElementById('chk_' + i).checked == false)       //如果未选中则选中
                                {
                                    document.getElementById('chkbox_' + i).click();
                                }
                            }
                        }

                        function show_all() {
                            for (var i = 0; i < color_board.length; i++) {
                                var selectedObject = scene.getObjectByName('actor' + (i + 1));
                                if (selectedObject) {
                                    scene.remove(selectedObject);
                                }
                            }
                            controls.reset();

                            var urls = {{ urls|safe }};
                            for (var x in urls) {
                                show_all_stl(urls[x], x, 1.0);
                                color_id = 'changer_' + (parseInt(x) + 1);
                                document.getElementById(color_id).value = color_board[x];
                            }
                        }

                        function change_color(path, id, value) {

                            var selectedObject = scene.getObjectByName('actor' + id);
                            if (selectedObject) {
                                color[id % color.length] = selectedObject.material.color = new THREE.Color(value);
                                // document.getElementById("changer" + id).value = value;

                                {#                                document.getElementById("changer_" + id).value = value;#}
                                {#                                color_board[parseInt(id) - 1] = value;#}
                            } else {
                                color[id % color.length] = value                //取色都是从这个数组里
                                document.getElementById('chkbox_' + id).click();
                                selectedObject = scene.getObjectByName('actor' + id);

                            }
                            animate();
                        }
                        function change_transparency(path, id, value) {
                            var selectedObject = scene.getObjectByName('actor' + id);
                            if (selectedObject) {
                                selectedObject.material.opacity = value * 1.0 / 100;
                            } else {
                                document.getElementById('chkbox_' + id).click();
                                selectedObject = scene.getObjectByName('actor' + id);
                                selectedObject.material.opacity = value * 1.0 / 100;
                            }
                            animate();
                        }
                        function rotate(num) {
                            if (document.getElementById('rotate').checked == false) {
                                auto_rotate(parseInt(num));
                            } else {
                                cancle_rotate(parseInt(num));
                            }
                        }

                    </script>
                    <footer class="footer lt hidden-xs b-t b-dark">
                        <div id="chat" class="dropup">
                            <section class="dropdown-menu on aside-md m-l-n">
                                <section class="panel bg-white">
                                    <header class="panel-heading b-b b-light">Active chats</header>
                                    <div class="panel-body animated fadeInRight">
                                        <p class="text-sm">No active chats.</p>
                                        <p><a href="#" class="btn btn-sm btn-default">Start a chat</a></p>
                                    </div>
                                </section>
                            </section>
                        </div>
                        <div id="invite" class="dropup">
                            <section class="dropdown-menu on aside-md m-l-n">
                                <section class="panel bg-white">
                                    <header class="panel-heading b-b b-light"> John <i
                                            class="fa fa-circle text-success"></i></header>
                                    <div class="panel-body animated fadeInRight">
                                        <p class="text-sm">No contacts in your lists.</p>
                                        <p><a href="#" class="btn btn-sm btn-facebook"><i
                                                class="fa fa-fw fa-facebook"></i> Invite from Facebook</a></p>
                                    </div>
                                </section>
                            </section>
                        </div>
                        <a href="#nav" data-toggle="class:nav-xs" class="pull-right btn btn-sm btn-dark btn-icon"> <i
                                class="fa fa-angle-left text"></i> <i class="fa fa-angle-right text-active"></i> </a>
                        <div class="btn-group hidden-nav-xs">
                            <button type="button" title="Chats" class="btn btn-icon btn-sm btn-dark"
                                    data-toggle="dropdown" data-target="#chat"><i class="fa fa-comment-o"></i></button>
                            <button type="button" title="Contacts" class="btn btn-icon btn-sm btn-dark"
                                    data-toggle="dropdown" data-target="#invite"><i class="fa fa-facebook"></i></button>
                        </div>
                    </footer>
                </section>
            </aside>
            <!-- /.aside -->
            {% block content %}

            {% endblock %}

            {% block person_home_content %}

            {% endblock %}
        </section>
    </section>
</section>
<script src="{% static 'js/app.v2.js' %}"></script> <!-- Bootstrap --> <!-- App -->
<script src="{% static 'js/layer.js' %}"></script>
<script type="text/javascript" src="{% static 'js/labelauty.js' %}"></script>
<link href="{% static 'css/bootstrap-table.css' %}" rel="stylesheet">
<script src="{% static 'js/bootstrap-table.js' %}"></script>

<script type="text/javascript" src={% static 'js/spectrum.js' %}></script>
<script type="text/javascript" src={% static 'js/docs/docs.js' %}></script>
</body>
</html>
