{% extends 'STL_show_control.html' %}
{% load static %}
{% block title %}查看项目{% endblock %}
{% block content %}
    <section id="content">
        <section class="vbox">
            <section class="scrollable padder">
                <ul class="breadcrumb no-border no-radius b-b b-light pull-in">
                    <li><a href="/"><i class="fa fa-home"></i> 主页</a></li>
                    <li class="active">项目管理</li>
                    <li class="active">查看项目</li>
                    <li class="active">{{ project.name }}</li>
                </ul>
                <div class="m-b-md">
                    <small></small>
                </div>
                <div id="canvas_div"></div>
                <script type="text/javascript" src="{% static 'js/myjs.js' %}"></script>
                <script>
                    $(document).ready(function () {
                            //参数{input类名，选择类型(单选or多选)}
                            document.getElementById('chkbox_1').click();
                        });
                    animate();
                </script>
            </section>
        </section>
        <a href="#" class="hide nav-off-screen-block" data-toggle="class:nav-off-screen" data-target="#nav"></a>
    </section>
    <a href="#" class="hide nav-off-screen-block" data-toggle="class:nav-off-screen" data-target="#nav"></a>
{% endblock %}